/* :: 20.0 Contact Area */

.uza-contact-area {
    position: relative;
    z-index: 1;

    .google-maps {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 500px;

        @media #{$breakpoint-xs} {
            height: 280px;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

.single-contact-card {
    position: relative;
    z-index: 1;

    h4 {
        margin-bottom: 15px;
    }

    h3 {
        color: $primary;

        @media #{$breakpoint-lg} {
            font-size: 20px;
        }
    }

    h6 {
        margin-bottom: 0;
        color: $text;
        line-height: 1.5;
        font-weight: 400;

        @media #{$breakpoint-xs} {
            font-size: 14px;
        }
    }
}

.uza-contact-form {
    position: relative;
    z-index: 1;

    .form-control {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        color: $secondary;
        font-size: 14px;

        &:focus {
            box-shadow: none;
            border-color: $primary;
        }
    }

    textarea.form-control {
        height: 110px;
        padding: 20px;
    }
}