/* :: 8.0 Hero CSS */

.welcome-slides {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.single-welcome-slide {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 900px;
    background-color: $white;

    @media #{$breakpoint-lg} {
        height: 750px;
    }

    @media #{$breakpoint-md} {
        height: 600px;
    }

    @media #{$breakpoint-xs} {
        height: 900px;
    }

    @media #{$breakpoint-sm} {
        height: 1000px;
    }

    .background-curve {
        position: absolute;
        width: 70%;
        top: 0;
        height: 100%;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
            height: auto;
            background-repeat: no-repeat;
        }
    }

    .welcome-text {
        position: relative;
        z-index: 1;
        @media #{$breakpoint-xs} {
            padding-top: 50px;
        }
        h2 {
            font-size: 72px;
            display: block;
            margin-bottom: 30px;

            @media #{$breakpoint-lg} {
                font-size: 48px;
            }

            @media #{$breakpoint-md} {
                font-size: 42px;
            }

            @media #{$breakpoint-xs} {
                font-size: 36px;
            }

            @media #{$breakpoint-sm} {
                font-size: 42px;
            }

            span {
                color: $primary;
            }
        }

        h5 {
            font-size: 22px;
            color: $secondary;
            margin-bottom: 60px;
            display: block;
            @media #{$breakpoint-lg} {
                font-size: 18px;
                margin-bottom: 40px;
            }
            @media #{$breakpoint-md} {
                font-size: 14px;
                margin-bottom: 40px;
            }
        }
    }
    
    .welcome-thumbnail {
        margin-top: -80px;

        @media #{$breakpoint-xs} {
            margin-top: -340px !important;
        }
    }
}