/* :: 09.0 Portfolio CSS */

.uza-portfolio-area {
    position: relative;
    z-index: 1;
    padding-left: 3%;
    padding-right: 3%;

    .portfolio-bg-curve {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        height: auto;
        width: auto;
    }
}

.single-portfolio-slide {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    img {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .overlay-effect {
        @include transition-duration(500ms);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: rgba(255, 255, 255, 1);
        padding: 40px 30px;
        opacity: 0;
        visibility: hidden;

        @media #{$breakpoint-lg} {
            padding: 30px;
        }

        @media #{$breakpoint-xs} {
            padding: 30px;
        }

        h4 {
            display: block;
            margin-bottom: 15px;
            font-weight: 600;
            color: $primary;

            @media #{$breakpoint-xs} {
                margin-bottom: 10px;
                font-size: 20px;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.6;

            @media #{$breakpoint-xs} {
                font-size: 14px;
            }
        }
    }

    .view-more-btn a {
        @include transition-duration(500ms);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $white;
        display: inline-block;
        position: absolute;
        bottom: 40px;
        right: 0;
        z-index: 100;
        text-align: center;
        line-height: 65px;
        font-size: 24px;
        opacity: 0;
        visibility: hidden;

        @media #{$breakpoint-lg} {
            bottom: 30px;
            width: 40px;
            height: 40px;
            line-height: 45px;
        }

        @media #{$breakpoint-xs} {
            bottom: 30px;
            width: 40px;
            height: 40px;
            line-height: 45px;
        }

        &:focus,
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }

    &:focus,
    &:hover {

        .overlay-effect {
            opacity: 1;
            visibility: visible;
        }

        .view-more-btn a {
            right: 40px;
            opacity: 1;
            visibility: visible;

            @media #{$breakpoint-lg} {
                right: 30px;
            }
        }
    }
}

.portfolio-sildes {
    position: relative;
    z-index: 1;
}

.portfolio-menu {
    position: relative;
    z-index: 1;

    button {
        background-color: transparent;
        padding: 0;
        font-weight: 600;
        color: $secondary;
        font-size: 22px;
        margin: 0 20px;

        @media #{$breakpoint-lg} {
            font-size: 20px;
        }

        @media #{$breakpoint-md} {
            font-size: 18px;
        }

        @media #{$breakpoint-xs} {
            font-size: 16px;
            margin: 0 10px;
        }

        @media #{$breakpoint-xs-landscape} {
            font-size: 14px;
            margin: 0 5px;
        }

        &.active,
        &:hover {
            color: $heading;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.single-portfolio-item {
    .single-portfolio-slide {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.portfolio-details-text {
    position: relative;
    z-index: 1;

    h2 {
        font-size: 36px;

        @media #{$breakpoint-lg} {
            font-size: 30px;
        }

        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }

    h6 {
        font-size: 14px;
        text-transform: uppercase;
        color: $primary;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-weight: 400;
    }

    p {
        margin-bottom: 0;
    }
}

.portfolio-meta {
    h6 {
        color: $text;
        margin-bottom: 10px;
        font-weight: 400;
    }

    @media #{$breakpoint-xs} {
        margin-top: 50px;
    }
}

.portfolio-social-info {
    p {
        margin-bottom: 0;
        margin-right: 15px;
    }

    a {
        display: inline-block;
        margin-right: 15px;
        font-size: 16px;

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

.portfolio-pager {
    position: relative;
    z-index: 1;

    a {
        display: inline-block;
        color: $text;

        &:nth-child(2) {
            color: $secondary;
        }

        &:hover,
        &:focus {
            color: $primary;
        }

        @media #{$breakpoint-xs} {
            font-size: 12px;
        }

        @media #{$breakpoint-xs-landscape} {
            font-size: 16px;
        }
    }
}

[id^=portfolio-item-] {
    cursor: pointer;
}

[class^=portfolio-item-] {
    display: none;
    clear: both;
    width: 100%;

    .container {
        padding-top: 120px;
        margin-top: -120px
    }
}