/* :: 1.0 Reboot CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-weight: 400;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonts;
    color: $heading;
    line-height: 1.4;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 400;
}

a,
a:active,
a:focus,
a:hover {
    font-family: $fonts;
    color: $heading;
    text-decoration: none;
    @include transition-duration(500ms);
    outline: none;
    font-size: 16px;
    font-weight: 600;
}

li {
    list-style: none;
}

p {
    line-height: 2;
    color: $text;
    font-size: 16px;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.bg-overlay {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jarallax {
    position: relative;
    z-index: 0;

    >.jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.mfp-iframe-holder .mfp-close {
    top: 0;
    width: 30px;
    height: 30px;
    background-color: $primary;
    text-align: center;
    right: 0;
    padding-right: 0;
    line-height: 32px;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gray {
    background-color: $bg-gray !important;
}

textarea:focus,
input:focus {
    outline: none;
}