/* *********************************************
[Master Stylesheet]

Template Name: Uza - Creative Agency HTML5 Template
Template Author: Colorlib
Template Author URL: http://colorlib.com
Version: 1.0.0
Last Update: Dec 31, 2018

*********************************************

[Tables of CSS Content]

+ body
    - 01.0 Reboot CSS
    - 02.0 Spacing CSS
    - 03.0 Preloader CSS
    - 04.0 Heading CSS
    - 05.0 Backtotop CSS
    - 06.0 Buttons CSS
    - 07.0 Header CSS
    - 08.0 Hero CSS
    - 09.0 Portfolio CSS
    - 10.0 Testimonial CSS
    - 11.0 Newsletter CSS
    - 12.0 About CSS
    - 13.0 Service CSS
    - 14.0 Breadcrumb CSS
    - 15.0 Blog CSS
    - 16.0 CTA CSS
    - 17.0 CFA CSS
    - 18.0 Team CSS
    - 19.0 Footer CSS
    - 20.0 Contact CSS
  ---------------------------------------------
  [Color Codes]

  $heading: #303030; [Heading Color]
  $text: #707070; [Text Color]
  $bg-gray: #e7f2fd; [Gray Background]
  $primary: #1583e9; [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #ebebeb; [Border Color]
  $hover: #1583e9; [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'HK Grotesk']
--------------------------------------------- */

/* Import Fonts & All CSS */
@import 'fonts/aileron-font-style.css';
@import 'css/bootstrap.min.css';
@import 'css/animate.css';
@import 'css/default-assets/classy-nav.css';
@import 'css/owl.carousel.min.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';
@import 'css/style.css';

// **************
// Utilities
// **************
@import "utilities/fonts";
@import "utilities/variables";
@import "utilities/responsive";
@import "utilities/color";

// *************
// Mixins
// *************

@import "mixins/flex";
@import "mixins/miscellaneous";

// **************
// Stylesheet
// *************
@import "reboot";
@import "spacing";
@import "preloader";
@import "heading";
@import "backtotop";
@import "buttons";
@import "header";
@import "hero";
@import "portfolio";
@import "testimonial";
@import "newsletter";
@import "about";
@import "service";
@import "breadcrumb";
@import "blog";
@import "cta";
@import "cfa";
@import "team";
@import "footer";
@import "contact";
@import "card";
