// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #F2F2F2;

// Primary Color
$primary: #EE6723;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #F58220;

// Secondary Color
$secondary: #a6a6a6;
